<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="container">
	<%= render 'layouts/header' %>
      <section class="round">
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, :class => "flash #{key}") %>
		<% end %>
        <%= yield %>
      </section>
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>